* {
	border: none;
	border-radius: 0;
	font-family: "Times, Times New Roman, serif";
	font-size: 12px;
	min-height: 0;
	margin: 0px;
	padding:0px 2px;
}

window#waybar {
 
	/*background: #000000;*/
        background: rgba(0, 0, 0, 1);
	color: #ffffff;
}

#window {
	color: #e4e4e4;
	font-weight: bold;
}

#workspaces {
	padding: 0px;
	margin: 0px;
}



#mode {
	background: #af005f;
	color: #1b1d1e;
}
#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
	padding: 0 3px;
	margin: 0 2px;
}

#clock {

  background-color:#003D21;
  font-weight:bold;
}

#battery {
}

#battery icon {
    color: red;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #af005f;
    }
}

#battery.warning:not(.charging) {
	background-color: #ff8700;
	color: #1b1d1e;
}
#battery.critical:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#tray {
}
#workspaces {
  padding: 0px;
  margin: 0px;
}

#workspaces button {
  padding: 0 2px;
  margin: 0px;
  background: transparent;
  color: #FFA500;  /* Default color for inactive workspace */
  border: 0px solid #1b1d1e;
  font-weight: bold;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.urgent {
  background: #af005f;
  color: #1b1d1e;
}

/* Color for active workspace */
/*#workspaces button.focused*/
 
#workspaces button.active {
  background: #04691a;  /* Darker Cyan-Blue for focused workspace */
  color: #ffffff;  /* White text for better contrast */
}


/* Additional hover effect for focused workspace */
#workspaces button.focused:hover {
  background: #006e6e; /* Darker Cyan on hover */
}

/* Color for urgent workspace */
#workspaces button.urgent {
  background: #af005f;
  color: #1b1d1e;
}
